body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #1a1a1a;
}
.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
.heading {
  font: lighter 2em Helvetica, Arial, sans-serif;
  margin-bottom: 0;
}
.sub-heading {
  font: normal 1em Helvetica, Arial, sans-serif;
  margin-bottom: 0.5em;
}
.status {
  display: inline-block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 6px 2px;
  background: #69d35e;
  font-weight: normal;
}
.status.warning {
  background: #63eada;
}
.status.critical {
  background: #3123ec;
  color: #fff;
}
.graph {
  height: 360px;
  position: relative;
}
.graph .area {
  border-top: 120px solid #3123ec;
  border-left: 70px solid transparent;
  position: relative;
}
.graph .area:before,
.graph .area:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  border-top: 120px solid;
}
.graph .area:before {
  top: 0;
  border-top-color: #63eada;
  border-left: 70px solid transparent;
}
.graph .area:after {
  top: 120px;
  left: 70px;
  border-top-color: #69d35e;
  border-left: 70px solid transparent;
}
.graph .line {
  position: absolute;
  left: 0;
  width: 100vw;
  border-bottom: 1px solid;
  top: 100%;
  z-index: 1;
  font-weight: normal;
}
.graph .line:before {
  content: '';
  position: absolute;
  display: block;
  border: 6px solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  bottom: -6px;
}
.graph .line > .label,
.graph .line > .alarms {
  bottom: 2px;
}
.graph .line > .label {
  position: absolute;
  left: 10px;
  font-size: 14px;
}
.graph .line > .alarms {
  position: absolute;
  right: 50px;
  bottom: 0;
}
.graphic {
  margin: 0 0 30px;
}
.graphic > .sub-heading {
  text-align: right;
}
.summary {
  margin: 1em 0;
}
.summary > .sub-heading {
  font-style: italic;
}
.summary > .text {
  margin: 0.5em 0;
}
