.graph
	height: 360px
	position: relative
	margin: 0 0 30px
	
	.area
		border-top: 120px solid color_critical
		border-left: 70px solid transparent
		position: relative

		&:before,
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			border-top: 120px solid
			
		&:before
			top: 0
			border-top-color: color_warning
			border-left: 70px solid transparent
			
		&:after
			top: 120px
			left: 70px
			border-top-color: color_normal
			border-left: 70px solid transparent
			
	.line
		position: absolute
		left: 0
		width: 100vw
		border-bottom: 1px solid
		top: 100%
		z-index: 5
		font-weight: normal
		
		&:before
			content: ''
			position: absolute
			display: block
			border: 6px solid;
			border-right-color: transparent
			border-bottom-color: transparent
			border-top-color: transparent
			bottom: -6px

		> .label,
		> .alarms
			bottom: 2px

		> .label
			position: absolute
			left: 10px
			font-size: 14px

		> .alarms
			position: absolute
			right: 60px
			bottom: 3px
			display: inline-block
			background: #fff
			color: #1a1a1a
			padding: 2px 3px 1px
			border-radius: 2px