.icon
	position: absolute
	z-index: 2
	
	&.steps
		top: -120px
		right: 10px
		height: 360px
		
	&.critical
		top: -90px
		right: 80px
		
	&.warning
		top: 45px
		right: 100px
	
	&.normal
		right: 100px
		top: 165px